<p><%= @resource.email %>，欢迎您加入<%= Setting.app_name %>！</p>

<p>您可以通过下面的链接确认您的账号:</p>

<p><%= link_to '确认我的账号', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
