<p>您好， <%= @resource.email %>!</p>

<p>有人发送了一个重置密码请求，您可以通过这封邮件重置您的密码。</p>

<p><%= link_to '修改我的密码', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>如果不是您自己发送的这个请求，请忽略这封邮件。</p>
<p>在您点击上链接并提交之前，您的密码不会发生改变。</p>
